{% load crispy_forms_tags %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light scrolling-navbar" id="nbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"> <strong class="mr-4 brand"> Awwards.</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form class="form-inline" method="get" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2 " type="text" placeholder="Search" name="title" aria-label="Search">
                        </div>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">{{ user.username|title }} 
                       <img class="rounded-circle nav-img" src="{{ user.profile.profile_pic.url }}" width="22" height="22" class="rounded-circle" alt="..." style="width: 55px; height: 55px">
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-center" href="{% url 'profile' user.username %}">Profile</a>
                        <hr>
                        <a class="dropdown-item text-center" href="{% url 'edit' user.username  %}"> Edit profile</a>
                        <hr>
                        <a class="nav-link text-center dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                            API
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'prof' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'projects' %}">Projects</a>
                            <a class="dropdown-item" href="{% url 'user' %}">User</a>
                            <a class="dropdown-item" href="{% url 'add' %}">add</a>
                          </div>
                        <hr>
                        <a href="{% url 'logout' %}" class="text-secondary text-center dropdown-item">Log Out</a>
                    </div>
                </li>
                {% else %}
                <a href="{% url 'login' %}" class="login btn btn-sm btn-info"> Register/Login </a>
                {% endif %}
            </ul>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-dark btn-lg"><a href="{% url 'upload' %}">Submit Your Site!</a></button>
  
        <!-- Modal -->
        <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-sm btn-info" value="Save"/>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</nav>